include README.md
include LICENSE
include CITATION.cff
include .zenodo.json
include pyproject.toml
recursive-include examples *.py
global-exclude __pycache__
global-exclude *.py[co]
global-exclude *.so
global-exclude .DS_Store

